# compiled output
/dist
/node_modules

# logs
*.log

# coverage
/coverage

# env
.env

# IDE
/.vscode
/.idea

# agents
/.agents
/.claude
/.windsurf

# OS
.DS_Store

# docs
*.md

# prisma client (генерується `prisma generate`)
/src/generated
